<!DOCTYPE html>
<html class="no-js css-menubar" lang="en">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <style>
        .loader {
            border: 3px solid #f3f3f3; /* Light grey */
            border-top: 3px solid #3498db; /* Blue */
            border-radius: 50%;
            margin-top: 15px;
            width: 30px;
            height: 30px;
            animation: spin 2s linear infinite;
        }

        @keyframes spin {
            0% { transform: rotate(0deg); }
            100% { transform: rotate(360deg); }
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="row">
            <h1 style="text-align: center;">Amne Test</h1>
            <h2 class="small" style="text-align: right;">Kevin Johnson</h2>
        </div>
        <div class="row">
            <div class="col-md-4">
                <form class="form" id="address_form">
                    {% csrf_token %}
                    <div class="form-group">
                        <label class="control-label" for="address1">Address 1:</label>
                        <input type="text" id="address1" class="form-control">
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="address2">Address 2:</label>
                        <input type="text" id="address2" class="form-control">
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
            <div class="col-md-8">
                <div id="results"></div>
                <div id="map"></div>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>
    <script>

      var autocomplete1, autocomplete2;
      var bounds1, bounds2;
      var service, map;
      var all_results = [];

        function distance(latlon1, latlon2) {
            var radlat1 = Math.PI * latlon1.lat()/180;
            var radlat2 = Math.PI * latlon2.lat()/180;
            var theta = latlon1.lng()-latlon2.lng();
            var radtheta = Math.PI * theta/180
            var dist = Math.sin(radlat1) * Math.sin(radlat2) + Math.cos(radlat1) * Math.cos(radlat2) * Math.cos(radtheta);
            dist = Math.acos(dist)
            dist = dist * 180/Math.PI
            dist = dist * 60 * 1.1515
            return dist
        }

        function comparePlaces(p1, p2) {
            return p1['distance'] - p2['distance']
        }

      function initAutocomplete() {
        var defaultBounds = new google.maps.LatLngBounds(
          new google.maps.LatLng(30.268716, -97.742715));

        autocomplete = new google.maps.places.Autocomplete(
            /** @type {!HTMLInputElement} */(document.getElementById('address1')),
            {types: ['address'], bounds: defaultBounds});
        autocomplete2 = new google.maps.places.Autocomplete(
            /** @type {!HTMLInputElement} */(document.getElementById('address2')),
            {types: ['address'], bounds: defaultBounds});

        map = new google.maps.Map(
            /** @type {!HTMLInputElement} */(document.getElementById('map')),
            {center: defaultBounds});

        service = new google.maps.places.PlacesService(map);

        autocomplete.addListener('place_changed', function() {
            var place = autocomplete.getPlace();
            $('#address1').val(place.formatted_address);
            bounds1 = new google.maps.LatLng(place.geometry.location.lat(),place.geometry.location.lng());
        });
        autocomplete2.addListener('place_changed', function() {
            var place = autocomplete2.getPlace();
            $('#address2').val(place.formatted_address);
            bounds2 = new google.maps.LatLng(place.geometry.location.lat(),place.geometry.location.lng());
        });
      }

      function placesCallback(results, status) {
        console.log(results)
        if (all_results.length == 0 && bounds1 && bounds2) {
            all_results = results;
            return;
        }
        all_results = all_results.concat(results);
        console.log(bounds1);
        console.log(bounds2);
        $.each(all_results, function(index, p) {
            var dis = 0;
            if (bounds1) {
                dis += distance(p.geometry.location, bounds1);
            }
            if (bounds2) {
                dis += distance(p.geometry.location, bounds2);
            }
            p['distance'] = dis;
        });
        all_results.sort(comparePlaces);
        $.each(all_results, function(index, p) {
            console.log(p);
            var elem = "<div class='row' id='" + p.place_id + "'><div class='col-md-7'><h4>" +
                p.name + "</h4><p class='small'>" + p.vicinity + " ( " + p.distance.toFixed(2) +
                " miles )</p></div><div class='col-md-5'></div></div>";

            $('#results').append(elem);
        });
      }

      $(document).ready(function() {
        initAutocomplete();

        $('#address_form').submit(function(e) {
            e.preventDefault();
            $('#results').empty();

            if (bounds1) {
                var request = {
                    location: bounds1,
                    radius: '16094',
                    type: ['real_estate_agency'],
                    keyword: 'real estate'
                  };
                service.nearbySearch(request, placesCallback);
            }

            if (bounds2) {
                var request2 = {
                    location: bounds2,
                    radius: '16094',
                    type: ['real_estate_agency'],
                    keyword: 'real estate'
                  };
                console.log(request2);
                service.nearbySearch(request2, placesCallback);
            }
        });
      });
    </script>
    <script type="text/javascript"
            src="https://maps.googleapis.com/maps/api/js?key={{PLACES_API_KEY}}&libraries=places"></script>
</body>
</html>